<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="google-site-verification" content="PRV4hAoWeyGaVwqppS-kD_D9HrDpUUeDsyzCDpNrs_E" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
<header class="site-header">
  <div class="container">
    <a class="brand" href="/" aria-label="Android Board Home">
      <img src="/android-chrome-192x192.png" alt="Android Board Logo">
      <span>Android Board</span>
    </a>

    <nav class="nav">
      <a href="/posts/">Posts</a>
      <a href="/about/">About</a>
    </nav>
  </div>
</header>         

  <main class="wrap">
    {{ block "main" . }}{{ end }}
  </main>
<footer class="site-footer">
  <div class="container">
    <div class="footer-left">
      <img src="/android-chrome-192x192.png" alt="Android Board Logo">
      <span>© 2025 Android Board. All rights reserved.</span>
    </div>
    <div class="footer-right">
      <!-- <a href="/about/">About</a>
      <a href="/posts/">Blog</a>
      <a href="/contact/">Contact</a> -->
    </div>
  </div>
</footer>
</body>

</html>